body{
  background: url("../img/textures_dark_vertical.jpg") repeat;
}

table{
  border: 0px;
  border-collapse: collapse;
  border-spacing: 0px;
  margin: 0 auto;
}

.puzzle-piece{
  display: block; 
  width: 43px;
  height: 43px;
  background-size: cover;
  float: left;
}

.card.flipped{
  height: 40px;
  margin-top: 3px;
}

#clock{
  margin: 0 auto;
  text-align: center;
  color: white;
  font-weight: bold;
}

#divPuzzleFull{
  margin: 0 auto;
  margin-top: 0px;
  width: 640px;
  transform: scale(0.9);
  margin-top: -25px;
}